{% extends "base.jinja" %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <h2>Login</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages  %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="#" method="post">
        <label for="name" >Name:</label>
        <input type="text" name="nm" id="name">
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
{% endblock content %}