<header class="header">
    <h1>Books</h1>
    <h3>Place for books you've read</h3>
    <nav>
        <ul class="navlist">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('addBook')}}">Add Book</a></li>
            <li><a href="{{url_for('editBook')}}">Edit Book</a></li>
            <li><a href="{{url_for('deleteBook')}}">Delete Book</a></li>
        </ul>
    </nav>
</header>