$main-1: #002b57;
$main-2: #004777;
$main-3: #006699;
$main-4: #0087bc;
$main-5: #00a9e0;

$chart-1: greenyellow;
$chart-2: crimson;

$neutral-1: white;
$neutral-2: black;
$neutral-3: #212121;
$neutral-4: darken(
  $color: $neutral-3,
  $amount: 3,
);
$neutral-5:lightgrey;
