@use "./utility/" as ut;
@use "./layout/" as lay;
@include ut.base;

body {
  font-family: ut.$font-main;
  font-size: 1rem;
  background: radial-gradient(
    ut.$main-4,
    ut.$main-3,
    ut.$neutral-2,
    ut.$neutral-3
  );
  background-repeat: no-repeat;
  color: ut.$neutral-1;
}

@media only screen and (min-width: 20em) and (max-width: 30em) {
  .header {
    @include ut.flex(column, center, center);
  }

  .container {
    max-width: 95%;
  }

  .carousel {
    display: none;
  }
  .searchContainer {
    padding: 1rem;
  }
  table {
    th {
      display: none;
    }
    tr {
      @include ut.flex(column, flex-start, baseline);
      gap: 0.75rem;
    }
  }
  .footer {
    small {
      text-align: center;
    }
  }

  .coin {
    height:100%;

    &__head {
      .backLink {
        display: none;
      }
    }

    &__desc {
      text-align: justify;
    }
    &__body {
      @include ut.flex(column, center, center);

    }
  }
  .chartContainer {
    select {
      @include ut.flex(column, center, center);
      margin: auto;
    }
  }
   
  .add-info {
    @include ut.flex(column, center, center);
    text-align: center;
  }
}

@media only screen and (min-width: 30em) and (max-width: 48em) {
  .header {
    @include ut.flex(column, center, center);
  }

  .container {
    max-width: 90%;
  }

  .carousel {
    display: none;
  }
  .searchContainer {
    padding: 1rem;
  }
  table {
    th {
      display: none;
    }
    tr {
      @include ut.flex(column, flex-start, center);
      gap: 0.75rem;
    }
  }
  .footer {
    small {
      text-align: center;
    }
  }
  .coin {
    height:100%;

    &__head {
      .backLink {
        display: none;
      }
    }

    &__desc {
      text-align: justify;
    }
    &__body {
      @include ut.flex(column, center, center);

    }
  }
  .chartContainer {
    select {
      @include ut.flex(column, center, center);
      margin: auto;
    }
  }
   
  .add-info {
    @include ut.flex(column, center, center);
    text-align: center;
  }
}

@media only screen and (min-width: 48em) and (max-width: 61.25em) {
  .header {
    @include ut.flex(column, center, center);
  }

  .container {
    max-width: 90%;
  }

  .carousel {
    display: none;
  }
  .searchContainer {
    padding: 1rem;
  }
  table {
    th {
      display: none;
    }
    tr {
      @include ut.flex(column, flex-start, center);
      gap: 0.75rem;
    }
  }
  .footer {
    small {
      text-align: center;
    }
  }
  .coin {
    height:100%;

    &__head {
      .backLink {
        display: none;
      }
    }

    &__desc {
      text-align: justify;
    }
    &__body {
      @include ut.flex(column, center, center);

    }
  }
  .chartContainer {
    select {
      @include ut.flex(column, center, center);
      margin: auto;
    }
  }
   
  .add-info {
    @include ut.flex(column, center, center);
    text-align: center;
  }
}

@media only screen and (min-width: 61.25em) and (max-width: 64em) {
  .header {
    @include ut.flex(column, center, center);
  }

  .container {
    max-width: 95%;
  }
  .searchContainer {
    padding: 1rem;
  }
  .footer {
    small {
      text-align: center;
    }
  }
}

@media only screen and (min-width: 64em) and (max-width: 75em) {
}

@media only screen and (min-width: 75em) {
}
