$bg_color: #047522;
$fg_color: whitesmoke;
$table_color: #004512;
$input_color: #c9f0d3;

* {
    font-family:Arial, Helvetica, sans-serif;
}

table,th,td {
    border: 1px black solid;
    text-align: center;
    border-collapse: collapse;
    background-color: $table_color;
    color: $fg_color;

    button {
        background-color: $bg_color;
        color: $fg_color;

        &:hover {
            background-color: lighten($color: $table_color, $amount: 5);
            transform: scale(0.98);
        }
    }
}

th {
    padding: 10px;
}

button {
    background-color: $table_color;
    color: $fg_color;
    outline: none;
    border: none;
    margin: 10px;
    padding: 10px;
    
    &:hover {
        background-color: lighten($color: $table_color, $amount: 5);
        transform: scale(0.98);
    }
}

table {
    width: 100%;
}

#thName {
    width: 40%;
}

#thDate {
    width: 20%;
}

#thAmount,#thRemove {
    width: 10%;
}

#container {
    width: 100%;
    text-align: center;
    background-color: $bg_color;
    color: $fg_color;

        .main-div-form {
            padding: 10px;
            width: 20%;
            margin: 0 auto;
           
            input {
                width: 100%;
                background-color: $input_color;
                border-radius: 5px;
                font-size: 12pt;
                outline: none;

                &:focus {
                    background-color: darken($color: $input_color, $amount: 5);
                }
            }
        }
}
