@use "./util/" as util;
@use "./layouts/" as lay;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: util.$basic-1;
  color: util.$basic-2;
  font-family: util.$main-font;
}
