.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;

  h1 {
    font-size: 48pt;
    letter-spacing: 1.5px;

    &:hover {
      transform: scale(1.1);
      transition: all 0.6s ease-in-out;
    }
  }

  h3 {
    font-size: 28pt;
    margin: 10px 0;
  }
}
