.randomQuote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  h4 {
    font-size: 28pt;
    margin-bottom: 15px;
  }

  button {
    background-color: $c3;
    color: $c6;
    font-size: 22pt;
    padding: 6px;
    width: 200px;
    border: none;
    outline: none;

    &:hover {
      background-color: $c1;
      color: darken($color: $c6, $amount: 10);
      border-radius: 14px;
      transform: scale(1.05);
      transition: all 0.3s ease-in;
    }
  }
}

.quote {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 22pt;
  letter-spacing: 1.2px;
  animation: anim 1s;

  p {
    margin: 10px 0;
    font-size: 20pt;
  }
}

.tags {
  margin: 15px 0;

  p {
    padding: 3px;
    
  }
  select {
    background-color: $c1;
    color: $c6;
    border: none;
    outline: none;
    font-size: 14pt;
    padding: 5px;

  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
