.navbar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16pt;
    background-color:#ab2727;

}

.navbar li {
    padding:5px;
    margin-top: 7px;
    letter-spacing: 1px;
}

.navbar li:hover{
    background-color: darkred;
}

.navbar li a {
    color:white;
}

.dropdown-menu {
    background-color:#ab2727;
    text-transform: none;
}

.form-inline {
    margin-left: 60px;
    padding-top: 10px;
}

.btn {
    color:white;
    border-color:#ab2727;
    background-color: darkred;
}

.btn:hover {
    background-color: darkred;
    border-color: darkred;
}

.navbar-brand {
    margin-left: 30px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40pt;
    text-align: center;
    text-transform: uppercase;
    margin-top: 55px;
}

#Onama {
    font-size: 16pt;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:25px;    
}

.card-img-top{
    width: 100%!important;
    height: 500px!important;
    object-fit: cover;
 }

 .lead {
     text-align: center;
 }

 address {
    font-size: 16pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:25px;   
 }

 #slika {
    float: right;
    width: 684px;
    height: 330px;
    margin: 0px 0px 15px 20px;
 }

 .form-row {
     width: 100%;
     margin:0 auto;
 }

 #exampleFormControlTextarea1 {
     width: 100%;
     margin:0 auto;
 }

 .form-group {
     text-align: center;
 }

 /*.needs-validation {
     margin-right: 800px;
     margin-left: 50px;
     margin-top: 20px;
     float: right;
 }*/

 #pr {
     text-align: center;
 }


.alert-success {
    text-align: center;
    font-size: 14pt;
}

.footer1 .text-center {
    background-color: #ab2727;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-inline li a {
    color:white;
}

.text-center p a {
    color:white;
}

.accordion {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 200px;
}

.accordion button:hover {
    text-decoration: none;
    color:whitesmoke;
}

.col-6 ul {
    margin-right: 30px;
}

#naslov4 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#klasicna {
    color:black;
}

.mapaa {
    font-size: 15pt;

}

.mapaa a {
    color: black;
}

.prgf {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14pt;
    text-align: center;
    margin:0px 100px;
}
.divv {
    margin: 0 auto;
    text-align: center;
}

#dartvejder {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h44 {
    text-align: center;
}

.malitekst {
    font-size: 10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}