{% extends "base.jinja" %}

{% block title %}
    <title>Add Book</title>
{% endblock title %}

{% block content %}
<div class="formContainer">
    <h2>Add Book</h2>
    <form action="" method="post" class="form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Type name here">    
        
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" placeholder="Type author here">    

        <label for="year">Year</label>
        <input type="number" id="year" name="year" placeholder="Type year here">    

        <label for="publisher">Publisher</label>
        <input type="text" id="publisher" name="publisher" placeholder="Type publisher here"> 

        <button type="submit">Add Book</button>   

    </form>
</div>

{% endblock content %}