@use "../util/" as util;

.header {
  @include util.flex(column, center);
  background: linear-gradient(to right, util.$main-5, util.$main-4);
  padding: 1rem;
  h1 {
    font-size: clamp(2.5rem, 10vw, 3rem);
  }
  h4 {
    font-size: clamp(1rem, 10vw, 1.5rem);
  }
  :is(h1, h4) {
    color: util.$basic-1;
    letter-spacing: 1.4px;
    margin-bottom: 1rem;
  }
}
