@use "../util/" as util;

.table-container {
  @include util.flex(column, center);
}

.table {
  font-size: 1rem;
  border-spacing: 1.5rem;
  &-head {
    border-bottom: 2px solid util.$main-4;
    padding: 0.2rem;
  }
}


