@use "./utility/" as ut;
@use "./layout/" as lay;
@include ut.base;


body {
  font-family: ut.$font-main;
  color: ut.$neutral-2;
}

@media only screen and (min-width: 20em) and (max-width: 30em) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 30em) and (max-width: 48em)  {
}

@media only screen and (min-width: 48em) and (max-width: 61.25em) {
}

@media only screen and (min-width: 61.25em) and (max-width: 64em) {
}

@media only screen and (min-width: 64em) and (max-width: 75em) {
}

@media only screen and (min-width: 75em) {
}