.header {
    background: $hdr_bg;
    color: $hdr_fg;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-size: 12pt;
  
    h1 {
      font-size: 30pt;
      margin: 5px 10px;
      letter-spacing: 2px;
    }
  }