.taskContainer {
  @include container();

  li {
    padding: 0px 20px;
  }
}


.taskForm {
  width: 40%;
  padding: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;

  h1 {
    color: black;
  }

}
