@mixin base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

@mixin flex($fd, $jc, $ai, $g) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin font($ff, $fw, $fs) {
  font-family: $ff;
  font-weight: $fw;
  font-style: $fs;
}
