.formContainer {
  @include flex(column);
  background-color: $col-3;
  color: $col-6;
  width: 100%;
  padding: 30px;
}

.form {
  @include flex(column);
  width: 50%;
  label {
    font-size: 16pt;
    margin: 5px 0px;
  }
  input {
    width: 40%;
    padding: 5px;
    font-size: 12pt;
    border: none;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;

    &:focus {
      border-bottom: 2px solid $col-1;
      background-color: whitesmoke;
      box-shadow: 0px 10px 10px -10px $col-1;
      transition: all 0.5s ease-in-out;
      &::placeholder {
        color: transparent;
      }
    }
  }

  button {
    background-color: $col-1;
    color: $col-6;
    width: 20%;
    font-size: 14pt;
    padding: 5px;
    margin: 8px 0px;
    border: none;
    outline: none;

    &:hover {
      background-color: $col-2;
      transform: scale(1.05);
      box-shadow: 0px 10px 10px -10px $col-1;
      transition: all 0.5s ease-in-out;
    }
  }
}
