.header {
  @include flex(column);
  background-color: $col-1;
  color: $col-6;
  padding: 20px;
  h1 {
    font-size: 36pt;
    letter-spacing: 1.5px;
  }
  h3 {
    font-size: 20pt;
  }
}

.navlist {
  @include flex(row);
  margin-top: 20px;
  list-style-type: none;

  a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 14pt;
    color: $col-6;
    border-bottom: 1px solid rgba($color: $col-6, $alpha: 0.7);
    
    &:hover {
      color: $col-5;
      border-bottom: 1px solid $col-5;
      transition: all 0.3s ease-in-out;
    }
  }
}
