.container {
  @include flex(column);
  background-color: $col-3;
  color: $col-6;
  padding: 10px;

  h1 {
    margin: 20px 0px;
  }
}

.booklist {
  list-style-type: none;

  li {
    padding: 6px;
    border-bottom: 1px solid $col-1;
  }
}

.bookName {
  font-size: 14pt;
  font-weight: bold;
}
