$col-1: #731d1d;
$col-2: #8c3f3f;
$col-3: #bf6b6b;
$col-4: #d98b8b;
$col-5: #f2a7a7;
$col-6: #fff;
$col-7: black;

@mixin flex($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flash($col) {
  @include flex(column);
  background-color: rgba($color: $col, $alpha: 0.6);
  color: $col-6;
  font-size: 14pt;
  padding: 10px;
}

.success {
  @include flash(green);
}
.error {
  @include flash(red);
}
.warning {
  @include flash(orange);
  color:black;
}