@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "./util";
@import "./header";
@import "./addBook";
@import "./home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: $col-6;
  color: $col-6;
}
